:root {
  --lightorange: #F4E4CA;
  --lightblue: #f4f9f9;
  --darkorange: #fb8c00;
}

.Header {
  background-color: var(--lightorange);
}

.Links {
  padding-top: 1vh;
  flex-direction: row;
  display: flex;
  justify-content: left;
}

.link {
  color: #fff;
}

.link:hover {
  color: #00f;
}