:root {
  --lightorange: #F4E4CA;
  --lightblue: #f4f9f9;
  --darkorange: #fb8c00;
}

.Header {
  text-align: center;
  height:20vh;
  margin: auto;
  background-image: url("../../Assets/wr_header.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: box;
}