:root {
  --mainorange: #fb8c00;
  --lightorange: #F4E4CA;
  --lightblue: #f4f9f9;
}

.description {
  font-size: 15px;
  text-align: left;
}

.icons {
  padding-top: 5px;
  padding-bottom: 20px;
}

.main {
  background-color: var(--lightorange);
}

a:link {
  color: black;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: black;
  font-weight: bold;
}