:root {
  --blue: #3174ad;
  --pink: #ad3173;
  --orange: #fb8c00;
}

.Calendar {
  margin-top: 30px;
  height: 100vh;
}

.full-width {
  display: inline-block; 
  width: 100%;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}