:root {
  --lightorange: #F4E4CA;
  --toolbarorange: #f9efe0;
  --lightblue: #f4f9f9;
}

.header {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-top: 3vh;
}

.ReturnButton {
  align-items: baseline;
}

.CreateEvent {
  width: 100vw;
  background-color: var(--lightorange);
}

.EventPaper {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5vh;
  padding-top: 2vh;
}

.EventPaperInner {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.Button {
  align-items: baseline;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.InnerPageFields {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}