:root {
  --blue: #3174ad;
  --pink: #ad3173;
  --orange: #fb8c00;
  --dark-orange: #e0762f;
  --light-orange: #ef9628;
  --light-blue: #61dafb;
}

.landing {
  background-color: orange;
}

.landing_top {
  background-image: url("../Assets/nassau_hall.png");
  height:70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.landing_bottom {
  background-image: url("../Assets/homepage_lower.png");
  height:110vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

header.landinghead {
    text-align: center;
    height:20vh;
    background-image: url("../Assets/wr_header.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
