:root {
  --lightorange: #F4E4CA;
  --lightblue: #f4f9f9;
}

.page {
  background-color: var(--lightorange);
}

.logo {
  margin: auto;
  width: 30%;
  padding: 10px;
}

.textFields {
  padding-bottom: 3vh;
  display: flex;
  margin: auto;
}
