:root {
  --blue: #3174ad;
  --pink: #ad3173;
  --orange: #fb8c00;
  --dark-orange: #e0762f;
  --light-orange: #ef9628;
  --light-blue: #61dafb;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: var(--dark-orange);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--light-blue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Calendar {
  height: 100vh;
}

.Jumbotron {
  background-color: var(--orange);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;

  a {
    font-size: 85%;
    color: darken(white, 10%);
  }
}
